<header>
    <nav>
        <a href="/">start side</a>
        <ul>
            <li><a href="/brugere"> brugere </a></li>
            <li><a href="/brugere/nye"> nye brugere </a></li>
            <li><a href="/vare"> alle vare </a></li>
            <li><a href="/vare/nye"> nye vare </a></li>
        </ul>
    </nav>
</header>